CONTROL/Common/ADS_Singleton/GenHwDevice/config/schemas/ArchiveBase.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
				targetNamespace="urn:schemas-microsoft-com:office:spreadsheet"
				elementFormDefault="qualified">

	<xsd:include schemaLocation="Util.xsd"/>

	<xsd:complexType name="ArchiveBaseFR">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Cell" type="ss:ArchiveBase_Title"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="Cell"/>
			</xsd:sequence>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<!-- Specification of spreadsheet title -->
	<xsd:complexType name="ArchiveBase_Title">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Archive Property"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<!-- Specification of column titles -->
	<xsd:complexType name="ArchiveBase_Name">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Name"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_RefersTo">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Refers To"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_Interval">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Interval (secs)"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_OldOnlyOnChange">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Only On Change"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_DisplayUnits">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Display Units"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_GraphMin">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Graph Min"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_GraphMax">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Graph Max"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_Format">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Format"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>
	
	<xsd:complexType name="ArchiveBase_OnStartup">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="On Startup"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_Title2">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="Title"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_ICDDate">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:enumeration value="ICDDate"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<!-- Specification of column value fields -->
	<xsd:complexType name="ArchiveBase_NameV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value="[a-zA-Z]([a-zA-Z0-9_])*"/>
							<xsd:pattern value="^[a-zA-Z]([a-zA-Z0-9_])*"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_RefersToV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value="none"/>
							<xsd:pattern value="[a-zA-Z]([a-zA-Z0-9_])*"/>
							<xsd:pattern value="^[a-zA-Z]([a-zA-Z0-9_])*"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_IntervalV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value= "none"/>
							<xsd:pattern value= "([0-9])+(\.([0-9])+)?(E[-+]([0-9])+)?"/>
							<!--Check! ^Name refers to control point ??-->
							<xsd:pattern value="^[a-zA-Z]([a-zA-Z0-9_])*"/>
							<xsd:pattern value="te/([0-9])+(\.([0-9])+)?(E[-+]([0-9])+)?"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_OldOnlyOnChangeV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value= "yes"/>
							<xsd:pattern value= "no"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_DisplayUnitsV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value="none"/>
							<xsd:pattern value="Celsius"/>
							<xsd:pattern value="decibel"/>
							<xsd:pattern value="deci"/>
							<xsd:pattern value="centi"/>
							<xsd:pattern value="mili"/>
							<xsd:pattern value="micro"/>
							<xsd:pattern value="nano"/>
							<xsd:pattern value="pico"/>
							<xsd:pattern value="femto"/>
							<xsd:pattern value="atto"/>
							<xsd:pattern value="deca"/>
							<xsd:pattern value="hecto"/>
							<xsd:pattern value="kilo"/>
							<xsd:pattern value="mega"/>
							<xsd:pattern value="giga"/>
							<xsd:pattern value="tera"/>
							<xsd:pattern value="peta"/>
							<xsd:pattern value="exa"/>
							<xsd:pattern value=".*"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_GraphMinV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value="none"/>
							<xsd:pattern value= "-?([0-9])+(\.([0-9])+)?(E[-+]([0-9])+)?"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_GraphMaxV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value="none"/>
							<xsd:pattern value= "-?([0-9])+(\.([0-9])+)?(E[-+]([0-9])+)?"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_FormatV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>
	
	<xsd:complexType name="ArchiveBase_OnStartupV">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:pattern value= "yes"/>
							<xsd:pattern value= "no"/>
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

	<xsd:complexType name="ArchiveBase_Title2V">
		<xsd:sequence>
			<xsd:element name="Data">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:restriction base="ss:String">
							<xsd:anyAttribute namespace="##any" processContents="skip"/>
						</xsd:restriction>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NamedCell" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="skip"/>
	</xsd:complexType>

</xsd:schema>
